
/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,
dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav,
section, summary, time, mark, audio, video {
	margin: 0; 	padding: 0; 	border: 0; 	outline: 0;  /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {    /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin: 0; 	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	outline: none;
}
img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
}
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
	font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
	outline: none;
}
input[type="text"], input[type="password"], textarea {
	padding: 0; 				/* убираем внутренние отступы для текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}
/* --------------- базовые настройки ---------*/
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
	body {
		color: #7e7f84;
		text-align: left;
		font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
		min-height: 100%;
		font-family: 'Roboto', sans-serif;
	  }
	a, a:visited { /* порядок правил для ссылок имеет значение */
		color: #7e7f84;
		text-decoration: none;
	}
	a:hover {
		color: #f45a40;
		text-decoration: none;
	}
	a:focus, a:active {
		color: #f45a40;
		text-decoration: none;
	}
	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
	}
	img {
		max-width:100%;
	}
	.clr {
		clear: both;
	}
	.clearfix:after {
	    clear: both;
	    content: "";
	    display: table;
	}
	.centerfix{
		max-width: 1170px;
		margin: 0 auto;
	}
/*header styles*/
header a{
	text-transform: uppercase;
}
	.header-top{
		padding: 33px 0;
		border-bottom: 1px solid #eee;
		display:flex;
		justify-content: space-between;
	}
		.logo{
			font-size: 1.375em;
			font-family: 'Roboto Condensed', sans-serif;
				}
		.contact-basket{
			display: flex;
		}
			.contact-basket p{
				font-size: 0.75em;
				font-weight: 600;
			}
			.contact-basket img{
				vertical-align: middle;
				margin-right: 7px;
			}
				.header-basket{
					border: 1px solid #eee;
					padding: 8px 18px;
					margin-left: 25px;
					margin-top: -9px; /*чтобы выровнять в строку*/
				}
					.header-basket a{
						margin-left: 33px;
					}
	.header-bottom{
		padding: 15px 8px;
		display: flex;
	}
		.menu{
			display: flex;
		}
			.menu li{
				margin-right: 36px;
				font-size: 0.875em;
			}
		.search-block{
			display: flex;
			margin-top: -1px;
		}
			.search-block input[type=search]{
				font-size: 0.875em;
				border: none;
				color: #7e7f84;
			}
			.search-block input[type=image]{
				margin-top: 2px;
				margin-right: 6px;
			}
/*slider styles*/
.slider{}
	.slider li{
		position: relative;
		color: #f45a40;
	}
		.slider h2{
			position: absolute;
			top: 220px;
			left: 40px;
			font-weight: bold;
			font-size: 3.706em;
			text-transform: uppercase;
			line-height: 1.1;
		}
		.slider p{
			position: absolute;
			top: 350px;
			left: 40px;
			font-size: 0.875em;
			font-weight: bold;
		}
	.unslider-nav{/* кнопки навгации при дефолте видны только в панели разработчика - проявим их явно*/
		max-width: 1170px; /*ширина макета*/
		margin: 0 auto;
		position: relative;
		top: -40px;
	}
/*news-block styles*/
.block-news{
	display: flex;
	justify-content: space-between;
}
	.block-news article{
		width: 31.6%;
		margin: 50px 0 60px 0;
	}
	.block-news img{
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
	.block-news h2{
		font-size: 1.375em;
		font-family: 'Roboto Condensed', sans-serif;
		margin: 25px 0;
	}
		.block-news h2 a{
			text-transform: uppercase;
			color: #f45a40;
		}
			.block-news h2 a:hover{
				text-decoration: underline;
			}
	.block-news p{
		font-size: 0.875em;
	}
/*catalog styles*/
.catalog{
	margin-bottom: 50px;
}
	.catalog h1{
		font-size: 1.4156em;
		text-transform: uppercase;
		text-align: center;
		font-family: 'Roboto Condensed', sans-serif;
		color: #67686d;
	}
	.block-catalog{
		margin-top: 40px;
		display: flex;
		justify-content: space-between;
		align-items: stretch;
	}
		.block-catalog article{
			display: flex;
			flex-direction: column;
			width: 23%;
		}
		.block-catalog img{
			max-width: 100%;
		}
		.catalog-content{
			display: flex;
			flex-direction: column;
			flex: 1;
			justify-content: space-between;
			padding: 20px;
			border: 1px solid #eee;
		}
			.catalog-content h2{
				font-size: 18px;
				text-transform: uppercase;
			}
			.catalog-content h3{
				margin: 10px 0;
				font-size: 14px;
				text-transform: uppercase;
				font-style: italic;
			}
			.catalog-content p{
				font-size: 0.625em;
				text-align: justify;
			}
			.price-basket{
				margin-top: 14px;
				border-top: 1px solid #eee;
				display: flex;
				justify-content: space-between;
				padding-top: 12px;
			}
			.price-basket>span{
				color: #f45a40;
				font-size: 14px;
			}
/*About styles*/
.about{
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}
	.about article{
		width: 60%;
	}
		.about h2{

		}
		.about p{
			font-family: 'Roboto Italic', sans-serif;
			font-size: 14px;
			font-style: italic;
		}
	.about map{
		width: 35%;
	}
